<% if(success.length) {%>
  <div class="notification is-primary is-light flash mb-0">
    <%= success %>
  </div>
<%}%> 
  
<% if(error.length) {%>
  <div class="notification is-danger is-light flash">
    <%= error %> 
  </div>
<%}%> 