<footer class="footer mt-6 has-background-black pb-6">
  <div class="content has-text-light has-text-centered">
    <span class="title is-5" style="font-family: 'Josefin Sans'; font-weight: 500;">
      <span class="has-text-info">&lt;</span><span class="has-text-light">snippetshare</span><span class="has-text-info">/&gt;</span>
    </span> by <strong><a href="https://www.linkedin.com/in/abhinavanand41" class="has-text-white">shady41</a></strong>
  </div>
</footer>